{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "eslint-config-love",
    "prettier"
  ],
  "rules": {
    "@typescript-eslint/strict-boolean-expressions": "off",
    "prettier/prettier": "error",
    "no-var": "error",
    "@typescript-eslint/prefer-nullish-coalescing": "off",
    "@typescript-eslint/no-misused-promises": "off"
  }
}